/* JournalArchive.module.css */

.JournalArchive {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .JournalArchive h1 {
    margin-bottom: 20px;
  }
  
  /* Styling for the locked entries */
  .lockedEntries {
    margin-top: 40px;
  }
  
  .lockedEntries ul {
    list-style-type: none;
    padding: 0;
  }
  
  .lockedEntries li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .entryItem {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 80%;
    margin: 10px 0;
  }
  
  .padlockIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .padlockIcon p {
    font-size: 18px;
    margin-top: 10px;
    color: gray;
  }
  
  .lockedEntries img {
    width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }

  /* Modal Overlay */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top */
  }
  
  /* Modal Content */
  .modalContent {
    background: white;
    padding: 20px;
    max-width: 90%;
    max-height: 80%;
    overflow: auto;
    text-align: center;
    position: relative;
    border-radius: 8px;
  }
  
  .modalImage {
    width: 100%;
    height: auto;
  }
  
  .modalDate {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
  }
  
  /* Close Button */
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .clearButtonContainer {
    margin-top: auto; /* Push the button to the bottom */
    padding: 20px;
    text-align: center;
  }

/* Tags Section in Modal */
.tagsSection {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

.tagsSection h4 {
  font-size: 18px;
  color: #007bff;
}

.tagsSection p {
  font-size: 14px;
  color: #555;
}

  